@font-face {
  font-family: 'raleway-semi-bold';
  src: url('../src/assets/fonts/Raleway-SemiBold.ttf') format('truetype')
}
@font-face {
  font-family: 'raleway-regular';
  src: url('../src/assets/fonts/Raleway-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'carme-regular';
  src: url('../src/assets/fonts/Carme-Regular.ttf') format('truetype')
}

h1, h2 {
  font-family: 'raleway-semi-bold' ;
}

body, html,  label, p{
  font-family: 'carme-regular';
  margin: 0;
}

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
}

